@import "root";
@import "functions";
@import "var";
@import "mixins";
@import "utilities";

@import "components";
@import "layout";
@import "modules";
@import "plugins";
@import "pages";


body {
    background-color: $body-bg;
    color: $text-color1;
    
    .transition & {
        transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-delay: 0s !important;
    }
    &.is-show {
        overflow: hidden;
        
    }
}