.article__offers {
    &-item {
        background: $bg;
        border: 1px solid $bg;
        box-shadow: 0px 2px 4px $tag-shadow;
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px 12px;
        margin-bottom: 10px;
        border-radius: 8px;
        line-height: 1.25;
        transition: $transition-border;
        &:hover {
            border-color: $primary;
        }
        a {
            font-size: .75rem;
            color: $article-nav-color;
        }
    }
    &-img {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        position: relative;
        overflow: hidden;
        border-radius: 6px;
        margin-right: 10px;
        img {
            width: 100%;
        }
    }
}