.article__similar {
    &-body {
        padding: 0 .625rem;
    }
    &-footer {
        padding: .625rem;
    }
    .card__image {
        border-radius: 12px 12px 0 0;
        margin: 0 -.625rem;
    }
    .article__title {
        font-size: .875rem;
        font-weight: $font-weight-bold;
        line-height: 1.25;
    }
}