.page__heading {
    background-color: $bg;
    padding: 1.875rem 0;
    &-top {
        position: relative;
        padding-right: 150px;
        @media (max-width: 767px) {
            padding-right: 0;
        }
    }
    &-title {
        font-size: 2.375rem;
        @media (max-width: 767px) {
            font-size: 1.5rem;
            & + h3 {
                font-size: .875rem;
            }
        }
    }
    &-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-55%);
        @media (max-width: 767px) {
            display: none;
        }
    }
    &-date {
        color: $gray-600;
        font-size: .75rem;
    }
    &-description {
        color: $text-color2;
        font-size: 1.25rem;
        @media (max-width: 767px) {
            font-size: .875rem;
        }
    }
    .range {
        @media (max-width: 767px) {
            border-top: 1px solid $border-color;
            margin: 0 -0.875rem;
            padding: 1rem 0.875rem;
        }
    }
    .filter__details {
        @media (max-width: 767px) {
            border-top: 1px solid $border-color;
            margin: 0 -0.875rem;
            padding: 1rem 0.875rem;
        }
    }
    h3, .h3 {
        color: $gray-700;
    }
    p {
        a {
            color: $primary;
        }
    }
}

.page__wrapper {
    position: relative;
}

.page__nav {
    
    &-container {
        border-bottom: 1px solid $form-border;
        padding-top: 1.5rem;
        padding-bottom: 1.125rem;
        margin-bottom: 1.625rem;
        @media (max-width: 767px) {
            margin-left: -14px;
            margin-right: -14px;
            padding-left: 14px;
            padding-right: 14px;
        }
    }
    &-scroll {
        background-color: $body-bg;
        position: sticky;
        top: 0;
        z-index: 1030;
    }
    .nav-link {
        margin-right: .875rem;
        &:last-child {
            margin-right: 0;
        }
    }
    // &-item {
    //     font-weight: $font-weight-bold;
    //     color: $text-color2;
    //     font-size: .813rem;
    //     text-transform: uppercase;
    //     margin-right: 30px;
    //     white-space: nowrap;
    //     &:last-child {
    //         margin-right: 0;
    //     }
    //     &:hover {
    //         text-decoration: none;
    //         color: $theme-primary;
    //     }
    //     &.active {
    //         color: $theme-primary;
    //     }
    // }
}