.header__overlay {
    background: $black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    .header__v2 & {
        background: $overlay-bg;
        top: 68px;
        .modal-open & {
            opacity: .5;
        }
    }
    .modal-open & {
        opacity: .25;
        visibility: visible;
        z-index: 3;
    }
}