.header__logo {
    width: 220px;
    flex: 0 0 220px;
    position: relative;
    z-index: 1;
    @media (max-width: 875px) {
        width: 180px;
        flex: 0 0 180px;
    }
    @media (max-width: 767px) {
        width: 88px;
        flex: 0 0 88px;
    }
    @media (max-width: 575px) {
        .header__v2 & {
            transform: scale(.8);
            transform-origin: left;
        }
    }
}