.footer__nav { 
    border-top: 1px solid $border-color;
    padding-top: 20px;
    margin-top: 20px;
    @media (max-width: 767px) {
        background-color: $white;
        border-bottom: 1px solid $border-color;
        margin: 0 -14px 0 -14px;
        padding: 1rem .875rem 0.5rem;
    }
    &-item {
        color: $text-color2;
        &:hover {
            color: $active-color;
        }
    }
    &-link {
        @media (max-width: 767px) {
            margin-right: .75rem;
            margin-bottom: .5rem;
            display: inline-block;
        }
    }
}